parameters:
	level: 6
	paths:
		- src
		- tests
	excludePaths:
		- tests/Unit/*/resources/*

	treatPhpDocTypesAsCertain: false

	ignoreErrors:
		- '#^Method .+ has parameter .+ with no value type specified in iterable type array\.$#'
		- '#^Method .+ has parameter .+ with no value type specified in iterable type iterable\.$#'
		- '#^Method .+ return type has no value type specified in iterable type array\.$#'
		- '#^Method .+ return type has no value type specified in iterable type iterable\.$#'
		- '#^Property .+ type has no value type specified in iterable type array\.$#'

		# Actual declaration of Twig\Node\Node::hasNode does not agree with parameter type in doc block.
		- '#^Parameter \#1 \$name of method Twig\\Node\\Node::hasNode\(\) expects string, int given\.$#'
		- '#^Parameter \#1 \$name of method Twig\\Node\\Node::getNode\(\) expects string, int given\.$#'

		# Stealing also includes type errors …
		- '#^Call to function is_null\(\) with Twig\\Node\\Node will always evaluate to false\.$#'

		# We check for the getFormats method in the constructor.
		- '#^Call to an undefined method Symfony\\Component\\Translation\\Writer\\TranslationWriterInterface::getFormats\(\)\.$#'
